.div_about {
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding-bottom: 100px;
}

.div_txt_photografhy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: right;
    align-items: right;
    width: 1299px;
    /* height: 1134px; */
    padding: 22.18px;
    gap: 22.18px;
    border-radius: 8.87px;
    border-width: 2.22px;
    border: 2.22px solid #91675E;
}

.span1_photografhy {
    color: #CD8579;
}

@media (max-width: 960px) {
    .div_about {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
        padding-bottom: 50px;
    }
    
    .div_txt_photografhy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: right;
        align-items: right;
        width: 95%;
        padding: 0px;
        gap: 22.18px;
        border-width: 2.22px;
        border: 0.89px solid #91675E;
    }
}
@media (min-width: 600px) and (max-width: 1370px) {
    .div_about {
        display: flex;
        flex-direction: column;
        justify-content: right;
        justify-items: center;
        align-items: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .div_txt_photografhy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: right;
        align-items: right;
        width: 85%;
        padding: 0px;
        gap: 22.18px;
        border-width: 2.22px;
        border: 1.59px solid #91675E;
       
    }
}